name: DemoNewCD
on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo 123
        
  deploy-devops:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: 'https://www.linkedin.com/in/tiagodfigueiredo/'
    needs: build  
    steps:
      - name: Run a one-line script
        run: echo segundo teste realizado com sucesso , Deploy Devops Tiago, teste 2 job completo!!!
        
  deploy-hmg:
    runs-on: ubuntu-latest
    environment:
      name: hmg
      url: 'https://www.linkedin.com/in/tiagodfigueiredo/'
    needs: deploy-devops
    steps:
      - name: Run a one-line script
        run: echo terceiro teste realizado com sucesso, homologação deploy ok, teste 3 job completo

  deploy-prd:
    runs-on: ubuntu-latest
    environment:
      name: prd
      url: 'https://www.linkedin.com/in/tiagodfigueiredo/'
    needs: deploy-hmg  
    steps:
      - name: Run a one-line script
        run: echo  quarto teste realizado com sucesso, producao  deploy ok, teste 4 job completo
        
